label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #008CBA;
    box-shadow: 1px 1px 1px rgb(71, 133, 214);
}

label {
    display: block;
    margin-bottom: 10px;
}
  .button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button-hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    width: 50px;
    height: 25px;
  }
  
  .button-hover:hover {
    background-color: #008CBA;
    color: white;
  }